body{
    height: 100vh;
}

.container {
    display: flex;
    border: 10px solid black;
    height: 90vh;
    flex-wrap: none;
}

.row {
    display: flex;
    width: 16px;
    height: 16px;
    background-color: red;
}

.col {
    display: flex;
    width: 16px;
    height: 16px;
    background-color: blue;
}
